@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?cd54450607f5fbaba5580de8576869fa") format("truetype"),
url("./flaticon.woff?cd54450607f5fbaba5580de8576869fa") format("woff"),
url("./flaticon.woff2?cd54450607f5fbaba5580de8576869fa") format("woff2"),
url("./flaticon.eot?cd54450607f5fbaba5580de8576869fa#iefix") format("embedded-opentype"),
url("./flaticon.svg?cd54450607f5fbaba5580de8576869fa#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-social-media:before {
    content: "\f101";
}
.flaticon-shipped:before {
    content: "\f102";
}
.flaticon-cargo:before {
    content: "\f103";
}
.flaticon-fast-delivery:before {
    content: "\f104";
}
.flaticon-cargo-box:before {
    content: "\f105";
}
.flaticon-cargo-1:before {
    content: "\f106";
}
.flaticon-container:before {
    content: "\f107";
}
.flaticon-cargo-ship:before {
    content: "\f108";
}
