{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="prevoz-slider-area prevoz-slider-area-five" id="home">
    <div class="prevoz-slider-style owl-carousel owl-theme">
        <div class="prevoz-slider-item slider-item-bg-16">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="prevoz-slider-text one">
                            <h1>Your Agent Of Choice</h1>
                            <h1>&nbsp;</h1>
                            <p>East Africa to the World</p>
                        </div>
                        <div class="lines">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="prevoz-slider-item slider-item-bg-17">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="prevoz-slider-text two">
                            <h1>First Class Clearing & Logistics</h1>
                            <p>Services In East Africa </p>
                            <div class="lines">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape">
        <div class="shape-img">
            <img src="{% static 'assets/img/slider-shape.png' %}" alt="Image">
        </div>
    </div>
</section>


<section class="what-offer-area-two what-offer-area-five mt-minus-70 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 p-0">
                <div class="single-offer">
                    <i class="icon flaticon-container"></i>
                    <h3>Customs Clearance</h3>
                    <p> We clear all types of shipments/cargo in Tanzania using all the Ports. As experienced clearing
                        agents we have special clearance system of clearing
                        the cargo on the arrival of ship at the port. We are fast and economical as our rates are very
                        affordable. <br><br><br><br></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-0">
                <div class="single-offer">
                    <i class="icon flaticon-global"></i>
                    <h3>Export & Import</h3>
                    <p>In conjunction with our trading partners YUMAF also helps in import and export of agriculture
                        commodities in and out of Tanzania to East Africa and the world.
                        <br><br><br><br><br><br>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-0">
                <div class="single-offer">
                    <i class="icon flaticon-transportation"></i>
                    <h3>Logistics / transportation</h3>
                    <p>We offer safe and reliable professional logistics services to a number of sectors to ensure
                        delivery of your goods and consignment at their destination.
                        <br><br><br><br><br><br>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-0">
                <div class="single-offer">
                    <i class="icon flaticon-counsel"></i>
                    <h3>Advisory Services</h3>
                    <p>We offer advisory services on exporters and importers to ensure smooth and timely shipment of
                        goods. We are concerned with distribution
                        logistics to ensure, that the goods reach the final buyer, in specified time and at minimal
                        cost in the condition they are sent. We also advise on international commercial terms </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-area about-area-two about-area-four pb-100" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content">
                    <span>Know About Us </span>
                    <h4>We are pleased to offer our services in freight forwarding & custom clearance to handle your
                        import or export shipments</h4>
                    <p>The company was established and incorporated on 4th July, 2011 with a registration number 84301.
                        </br>We strive to be one of Tanzania’s fastest growing freight forwarding and clearing
                        companies.
                        Our company is a member of TAFFA (Tanzania Freight Forwarders Association) with employees
                        qualified on customs and freight forwarding.</p>

                    <p>YUMAF is an authorized service provider in the field of Customs, Clearing, Freight Forwarding, We
                        also advise on Transportation and Logistics. We provide office support to shipping lines,
                        non-vessel operating carriers, and manufacturer and Merchant exporters .</p>
                    <p>We clear incoming and outgoing goods by Sea, Air, Road and Railway. All our staff members are
                        trained and equipped to understand each Customers’ need. We relay real time information on goods
                        to our clients during all stages of the clearing process.</p>

                </div>
            </div>
            <div class="col-lg-6 pr-0">
                <div class="about-img">
                    <div class="about-history">
                        {% comment %} <div class="about-details">
                            <i class="flaticon-box"></i>
                            <span>8,845 M</span>
                            <p>Delivered Packages</p>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="choose-us-area">
    <div class="container">
        <div class="section-title">
            <span>Why Choose Us</span>
            <h2>Your agent of choice. We find solutions that create and add value </h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-7 pr-0">
                <div class="choose-tab-wrap">
                    <h2>Why our Company is best</h2>
                    <div class="tab quote-list-tab choose-tab">
                        <ul class="tabs">
                            <li>
                                <a href="#">
                                    Our Mission
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Our Vision
                                </a>
                            </li>
                        </ul>
                        <div class="tab_content">
                            <div class="tabs_item">
                                <p>Leveraging technology, transparency and trust to provide the best and innovative
                                    cargo handling services to our clients.</p>
                            </div>
                            <div class="tabs_item">
                                <p>To be the trusted partner in excellence, innovation and efficient cargo handling
                                    service in East Africa.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 pl-0">
                <div class="choose-img choose-img-five">
                    <img src="{% static 'assets/img/choose-img-four.jpg' %}" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="began-area began-area-three began-area-four">
    <div class="container-fluid p-0">
        <div class="began-top-wrap">
            <div class="row">
                <div class="col-lg-5 pr-0">
                    <div class="begans-bg">
                    </div>
                </div>
                <div class="col-lg-7 pl-0">
                    <div class="began-wrap">
                        <h2>Our Values</h2>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-daily"></i>
                                    <h3>Accountability</h3>
                                    <p>Responsibility Rests on our shoulders until every job is done </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-clock"></i>
                                    <h3>Efficiency</h3>
                                    <p>We strive to provide a seamless and efficient service to our client</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-counsel"></i>
                                    <h3>Integrity</h3>
                                    <p>A trusted partner you can depend on </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-launch"></i>
                                    <h3>innovation</h3>
                                    <p>We find solutions that create value </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-handshake"></i>
                                    <h3>Partnerships</h3>
                                    <p>We partner with our clients and service provider to deliver seamless service to
                                        our clients </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="team-area pt-100" id="team">
    <div class="container">
        <div class="section-title">
            <span>Professional Team</span>
            <h2>Our support professionals are here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-team">
                    <img src="{% static 'assets/img/team/1.jpg' %}" alt="Image">
                    <div class="team-content">
                        <h3>Daniella Kwayu</h3>
                        <span>Product supplier</span>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team">
                    <img src="{% static 'assets/img/team/2.jpg' %}" alt="Image">
                    <div class="team-content">
                        <h3>Donald Kwayu</h3>
                        <span>Office executive support</span>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team">
                    <img src="{% static 'assets/img/team/3.jpg' %}" alt="Image">
                    <div class="team-content">
                        <h3>Sixtus W Wanchoke</h3>
                        <span>Regional supplier</span>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team">
                    <img src="{% static 'assets/img/team/4.jpg' %}" alt="Image">
                    <div class="team-content">
                        <h3>Jesca Peter Molla</h3>
                        <span>International supplier</span>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-area service-area-two service-area-five fun-blue-bg pt-100 pb-100" id="service">
    <div class="container">
        <div class="section-title">
            <span>We Offer Services </span>
            <h2>Your Agent Of Choice</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-service">
                    <div class="service-content-wrap">
                        <i class="icon flaticon-container"></i>
                        <h3>Customs Clearance</h3>
                        <p>We clear all types of shipments/cargo in Tanzania using all the Ports. As experienced
                            clearing agents we have special clearance system of clearing the cargo on the arrival of
                            ship at the port. We are fast and economical as our rates are very affordable
                            <br><br><br></p>
                    </div>
                    <div class="service-heading">
                        <a class="circle-read-more" href="#">
                            <h3>Customer Clearance</h3>
                            <i class="flaticon-right-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-service">
                    <div class="service-content-wrap">
                        <i class="icon flaticon-logistics"></i>
                        <h3>Export & Import</h3>
                        <p>In conjunction with our trading partners YUMAF also helps in import and export of agriculture
                            commodities in and out of Tanzania to East Africa and the world. <br><br><br><br><br><br>
                        </p>
                    </div>
                    <div class="service-heading">
                        <a class="circle-read-more" href="#">
                            <h3>Export & Import</h3>
                            <i class="flaticon-right-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="single-service">
                    <div class="service-content-wrap">
                        <i class="icon flaticon-transportation"></i>
                        <h3>Logistics / Transportation</h3>
                        <p>We offer safe and reliable professional logistics services to a number of sectors to ensure
                            delivery of your goods and consignment at their destination.<br><br><br><br><br><br></p>
                    </div>
                    <div class="service-heading">
                        <a class="circle-read-more" href="#">
                            <h3>Logistics / Transportation</h3>
                            <i class="flaticon-right-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="single-service">
                    <div class="service-content-wrap">
                        <i class="icon flaticon-consulting"></i>
                        <h3>Advisory Services</h3>
                        <p>We offer advisory services on exporters and importers to ensure smooth and timely shipment of
                            goods. We are concerned with distribution logistics to ensure, that the goods reach the
                            final buyer, in specified time and at minimal cost in the condition they are sent. We also
                            advise on international commercial terms</p>
                    </div>
                    <div class="service-heading">
                        <a class="circle-read-more" href="#">
                            <h3>Advisory Services</h3>
                            <i class="flaticon-right-1"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<section class="address-area pt-100 pb-70" id=contact>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-address">
                    <i class="bx bx-phone-call"></i>
                    <h3>Contact</h3>
                    <span>Talk to support</span>
                    <a href="tel:+255656399887">+255 656 399 887</a>
                    <a href="mailto:info@yumaf.co.tz">info@yumaf.co.tz</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-address">
                    <i class="bx bx-location-plus"></i>
                    <h3>Location</h3>
                    <span>Find where we are</span>
                    <p>Vikawe Street, Mikocheni A,
                        Plot No 230, Regent Estate,
                        Dar es Salaaam
                        Tanzania</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-address">
                    <i class="bx bx-time"></i>
                    <h3>Meet Us</h3>
                    <span>Available Hours to meet</span>
                    <p>9:00 AM – 5:00 PM</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-wrap contact-pages mb-0">
                    <div class="contact-form">
                        <div class="section-title">
                            <span class="pumpkin-color">information</span>
                            <h2>Drop us a message for any query</h2>
                        </div>
                        <form id="contactForm" novalidate="true">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" class="form-control" required=""
                                            data-error="Please enter your name" placeholder="Your Name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="form-control" required=""
                                            data-error="Please enter your email" placeholder="Your Email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group has-error">
                                        <input type="text" name="phone_number" id="phone_number" required=""
                                            data-error="Please enter your number" class="form-control"
                                            placeholder="Your Phone">
                                        <div class="help-block with-errors">
                                            <ul class="list-unstyled">
                                                <li>Please enter your number</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="msg_subject" id="msg_subject" class="form-control"
                                            required="" data-error="Please enter your subject"
                                            placeholder="Your Subject">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="5"
                                            required="" data-error="Write your message"
                                            placeholder="Your Message"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="default-btn btn-two disabled"
                                        style="pointer-events: all; cursor: pointer;">
                                        Send Message
                                    </button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
{% endblock content %}